@font-face {
    font-family: "Inter Variable";
    src:
        url("./font/Inter.var.woff2") format("woff2"),
}

* {
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

/* Reset default browser styles */
html,
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: "Inter Variable", "Times New Roman", Times, serif;
    /* font-family: "Inter", Arial, "Helvetica Neue", sans-serif; */
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    margin-bottom: 5px;;
}


.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    height: 80vh;
}

.chat-span {
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

#messageInput {
   
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    padding-right: 50px;
    padding-left: 10px
    /* Make room for the button */
}

#messageButton {

    width: 44px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    background-color: #007bff;
    color: white;
    
}

#usernameInput {
    
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    padding-right: 50px;
    /* Make room for the button */
    padding-left: 10px
}

#usernameButton {
    
    

    width: 44px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    background-color: #007bff;
    color: white;
    margin: 0;

}


#chatFeed {
    width: 60%;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.teamAndTime {
    display: block;
}


#homeTeam {
    text-align: right;
    vertical-align: middle;
}

#currentTime {
    float: right;
    padding-bottom: 10px;
}

td {
    overflow: hidden;
}

/* Set background color and font family */
body {
    background-color: #f8f9fa;
    /* Light gray background */
    color: #2a2a2a;
    /* Dark text color */
    margin: 0;
    /* Remove default margin */
}

a {
    text-decoration: none;
    color: inherit;

}

.benched {
    font-weight: bolder;
    color: rgb(161, 161, 161);
    margin-left: 5px;
}

.fixtureScoreboard * {
    cursor: pointer;
    color: #2a2a2a;
}

#fixture-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 5px;
    margin-bottom: 5px;
}

.fixtureScoreboard {
    border-top: 8px darkblue solid;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 70%;
    height: 120px;
    margin: 20px;
    /* Add space around the scoreboard */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Add drop shadow */
    background-color: #fff;
}

.fixtureScoreboard .homeTeamContainer {
    justify-content: flex-end;
    min-width: 33%;
}

.fixtureScoreboard .awayTeamContainer {
    justify-content: flex-start;
    min-width: 33%;
}

.fixtureScoreboard .gameInfo {
    text-align: center;
    min-width: 33%;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    width: 35%;
    margin: 0 auto;
    color: #2a2a2a;
}

#homeTeamIcon,
#awayTeamIcon {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.team {
    display: flex;
    align-items: center;
}

.teamInfo {
    margin-left: 10px;
}

#homeTeamScore,
#awayTeamScore {
    font-size: 2em;
    /* 30px */
    margin-bottom: 0;
}

#homeTeamSecondaryScore,
#awayTeamSecondaryScore {
    font-size: 1em;
    /* 16px */

}

#currentPeriod {
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #2a2a2a;
    margin-bottom: 0;
}

#gamePercentage {
    text-align: center;
}

/* Container for the tables */
.container {
    visibility: hidden;
    display: flex;
    align-items: flex-start;
    /* Center align tables horizontally */
    justify-content: center;
    /* Center container horizontally */
    width: 100%;
    /* Full width */
}

/* Style for each table */
.table-container {
    padding: 20px;
    background-color: #fff;
    /* White background */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
    margin: 0 10px;
    /* Add spacing between tables */
    overflow-x: auto;
    /* Enable horizontal scrolling on small screens */
    width: 80%;
    /* Set initial width */
}

/* Table heading styles */
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2a2a2a;
    /* Dark text color */
}

/* Table styles */
table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16px;
}

table td,
table th {
    border: none;
}

td {
    position: relative;
    cursor: pointer;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tr {
    height: 36px;
}

tr td:not(:nth-child(2)):not(:nth-child(3)),
th:not(:nth-child(2)):not(:nth-child(3)) {
    padding: 8px;
    padding-right: 50%;
    text-align: right;
    /* Center align content */
    vertical-align: middle;
    white-space: nowrap;
}

tr td:first-child {
    text-align: center;
    width: 30%;
}

th {
    background-color: #f2f2f2;
    /* Light gray background for table headings */
}

.playerName,
.playerNameHeader {
    text-align: left;
}

/* Alternating row colors */
tr:nth-child(even) {
    background-color: #dee2e6;
    /* Darker shade for even rows */
}

tr:nth-child(odd) {
    background-color: #e9ecef;
    /* Lighter shade for odd rows */
}

/* Table row hover effect */
tr:hover {
    background-color: #ced4da;
    /* Light gray background on hover */
}

td:nth-child(2) {
    text-align: center;
    font-weight: bolder;
    color: rgb(161, 161, 161);
}

/* Bold fantasy number */
td:last-child {
    /* 9th column (index starts from 1) */
    font-weight: bold;
    /* Make the text bold */
}

.breakeven {
    font-weight: bold;
}

#tooltip {
    opacity: 0;
    width: 250px;
    height: 350px;
    background-color: #f2f2f2;
    border-radius: 10%;
    align-items: center;
    line-height: 50px;
    transition: opacity 0.25s ease;
    z-index: 1;
    position: absolute;
    top: 0;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2a2a2a;
    /* Adjust color to match tooltip */
}

.tooltip.above::before {
    top: auto;
    bottom: -10px;
    border-bottom: none;
    border-top: 10px solid #2a2a2a;
    /* Adjust color to match tooltip */
}

#tooltip ul {
    margin: 0px 40px 00px 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
}

#tooltip ul li {
    display: inline;
}

#tooltip ul li i {
    font-size: 20px;
}

#tooltip img {
    width: 250px;
}

#tooltip ul {
    margin-top: -20px;
    /* Adjust the margin as needed */
}

#tooltip ul:last-child {
    margin-top: -40px;
    /* Adjust the margin as needed */
}

/* Tooltip text */
#tooltip img {
    width: 250px;

}

.playerRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

#iconHolder {
    width: 32px;
}

.customIcon {
    margin-left: 5px;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.triangle {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;

}

.triangle.above {
    top: auto;
    bottom: -15px;
    border-color: #f2f2f2 transparent transparent transparent;
}

#close-btn {
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.circle {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2px;
    /* Adjust spacing between circles */
}

#orange {
    background-color: rgb(247, 190, 129);
}

#blue {
    background-color: rgb(206, 227, 246);
}

#purple {
    background-color: rgb(227, 206, 246);
}

#default {
    background-color: #dee2e6;
}




/* Responsive design for smaller screens */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 100%;
        /* Stack tables vertically on small screens */
        align-items: center;
        /* Center tables vertically */
    }

    #homeTeam {
        text-align: left;
    }

    .table-container {
        width: calc(98%);
        /* Adjust width of tables to full page with slight gap */
        padding-left: 0;
        padding-right: 0;
        padding-top: 5px;
        margin-bottom: 0px;
        background-color: #F8F9FA;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    }

    th,
    td {
        font-size: 12px;

        /* Reduce padding on small screens */
    }

    tr td:not(:nth-child(2)):not(:nth-child(3)),
    th:not(:nth-child(2)):not(:nth-child(3)) {
        padding: 0px;
        padding-right: 0;
        text-align: center;
        /* Center align content */
        vertical-align: middle;
        white-space: nowrap;
    }

    th:nth-child(n+4):nth-child(-n+8),
    td:nth-child(n+4):nth-child(-n+8) {
        font-size: 11px;
        text-align: center;
        width: 24px;
    }

    th:nth-child(n+9):nth-child(-n+11),
    td:nth-child(n+9):nth-child(-n+11) {
        font-size: 11px;
        text-align: center;
        width: 30px;
    }

    th:nth-child(n+12),
    td:nth-child(n+12) {
        font-size: 12px;
        text-align: center;
        width: 30px;
    }

    .hide-on-mobile {
        display: none;
        /* Hide elements on small screens */
    }



    .scoreboard {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        text-align: center;

        margin-top: 10px;
        color: #2a2a2a;
    }




    .fixtureScoreboard {
        border-top: 8px darkblue solid;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        width: 90%;
        height: 120px;
        margin: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    #currentPeriod {
        font-size: 14px;
    }

    #homeTeamScore,
    #awayTeamScore {
        font-size: 24px;
    }

    #homeTeamIcon,
    #awayTeamIcon {
        width: 50px;
        height: 50px;
    }

    .fixtureScoreboard .homeTeamContainer {
        justify-content: flex-end;
        min-width: 33%;
    }

    .fixtureScoreboard .awayTeamContainer {
        justify-content: flex-start;
        min-width: 33%;
    }

    .fixtureScoreboard .gameInfo {
        text-align: center;
        min-width: 33%;
        font-size: 12px;
        padding: 15px;
        line-height: 1;
    }

    .input-container {
        position: relative;
        width: 90%;
    }


    .message-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: top;
        height: 80vh;
    }

    .chat-span {
        width: 95%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        margin-bottom: 10px;
    }

    #messageInput {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #dee2e6;
        padding-right: 50px;
        /* Make room for the button */
    }

    #messageButton {
        position: absolute;
        right: 0;
        top: 50%;
        /* Move the top edge to the center of the container */
        transform: translateY(-50%);
        width: 44px;
        height: 44px;
        border-radius: 10px;
        border: 1px solid #dee2e6;
        background-color: #007bff;
        color: white;
        margin: 0;
    }

    #usernameInput {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #dee2e6;
        padding-right: 50px;
        /* Make room for the button */
    }

    #usernameButton {
        position: absolute;
        right: 0;
        top: 50%;
        /* Move the top edge to the center of the container */
        transform: translateY(-50%);
        width: 44px;
        height: 44px;
        border-radius: 10px;
        border: 1px solid #dee2e6;
        background-color: #007bff;
        color: white;
        margin: 0;

    }




    #chatFeed {
        width: 90%;
        height: 500px;
        border-radius: 10px;
        border: 1px solid #dee2e6;
        padding: 10px;
        margin-bottom: 10px;
        overflow-y: scroll;
    }
}